<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bil Detaljer</title>
    <link rel="stylesheet" th:href="@{/carDetails.css}">
</head>
<body>

<h2>Bil Detaljer</h2>

<p><strong>Car ID:</strong> <span th:text="${car.car_id}"></span></p>
<p><strong>Stelnummer:</strong> <span th:text="${car.steelNumber}"></span></p>
<p><strong>Brand:</strong> <span th:text="${car.brand}"></span></p>
<p><strong>Model:</strong> <span th:text="${car.model}"></span></p>
<p><strong>Trim:</strong> <span th:text="${car.trim_level}"></span></p>
<p><strong>Status:</strong> <span th:text="${car.status}"></span></p>

<hr>

<h3>Kunde</h3>
<p><strong>Navn:</strong> <span th:text="${car.customer_name}"></span></p>
<p><strong>Email:</strong> <span th:text="${car.customer_email}"></span></p>
<p><strong>Telefon:</strong> <span th:text="${car.customer_phone}"></span></p>

<hr>

<h3>Lejeaftale</h3>
<p><strong>Startdato:</strong> <span th:text="${car.start_date}"></span></p>
<p><strong>Slutdato:</strong> <span th:text="${car.end_date}"></span></p>
<p><strong>Afhentningssted:</strong> <span th:text="${car.pickup_location}"></span></p>

<hr>

<h3>Skader</h3>

<!-- Hvis der IKKE er nogen skader -->
<p th:if="${car.damage_type == null}">
    Ingen registrerede skader.
</p>

<!-- Hvis der ER skader -->
<div th:if="${car.damage_type != null}">
    <p><strong>Skadetype:</strong> <span th:text="${car.damage_type}"></span></p>
    <p><strong>Beskrivelse:</strong> <span th:text="${car.damage_description}"></span></p>
    <p><strong>Severity:</strong> <span th:text="${car.severity}"></span></p>
    <p><strong>Pris:</strong> <span th:text="${car.cost_estimate}"></span> kr</p>
</div>

<br><br>

<a th:href="@{/carStatus}">Tilbage</a>

<hr>
<h3>Skader & Pris</h3>

<table>
    <tr>
        <th>Type</th>
        <th>Beskrivelse</th>
        <th>Severity</th>
        <th>Pris</th>
    </tr>

    <tr th:each="d : ${damages}">
        <td th:text="${d.damage_type}"></td>
        <td th:text="${d.description}"></td>
        <td th:text="${d.severity}"></td>
        <td th:text="${d.cost_estimate} + ' kr'"></td>
    </tr>
</table>

</body>
</html>
