<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Biler</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/app.css">

</head>
<body>

<h1>Biler</h1>

<div>
    <a class="links-button" href="/rentals/create">Opret lejeaftale</a> |
    <a class="links-button" href="/returns/create">Registrér tilbagelevering</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th class="th">ID</th>
        <th class="th">Stelnummer</th>
        <th class="th">Mærke</th>
        <th class="th">Model</th>
        <th class="th">Status</th>
        <th class="th">Handling</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td class="td" th:text="${car.carId}"></td>
        <td class="td" th:text="${car.steelNumber}"></td>
        <td class="td" th:text="${car.brand}"></td>
        <td class="td" th:text="${car.model}"></td>
        <td class="td" th:text="${car.status}"></td>
        <td>
            <a th:if="${car.status == 'Udlejet'}"
               th:href="@{/rentals/details(steelNumber=${car.steelNumber})}">
                Se leje
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
