<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Bilstatsus</title>


  <link rel="stylesheet" th:href="@{/carStatus.css}">
</head>

<body>

<h2>Udlejede Biler</h2>

<table border="1">
  <tr>
    <th>Car ID</th>
    <th>Stelnummer</th>
    <th>Kunde</th>
    <th>Detaljer</th>
  </tr>

  <tr th:each="b : ${cars}">
    <td th:text="${b.car_id}"></td>
    <td th:text="${b.steelNumber}"></td>
    <td th:text="${b.customer_name}"></td>
    <td>
      <a th:href="@{/carStatus/{id}(id=${b['car_id']})}">
        Se detaljer
      </a>
    </td>

  </tr>


</table>

<a th:href="@{/dashBoard}">Tilbage</a>

</body>
</html>
