<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" th:href="@{/dashBoard.css}">
</head>

<body>

<div class="dashboard">

    <h1>Bilabonnement – Intern Dashboard</h1>

    <div class="dashboard-buttons">

        <a class="dash-btn" href="/rental/create">Opret lejeaftale</a>

        <a class="dash-btn" href="/lagerstatus">Lagerstatus</a>

        <a class="dash-btn" href="/damages/register">Registrer skade</a>

        <a class="dash-btn" href="/carStatus">Bilstatus</a>

        <a class="dash-btn" href="/register-return">Registrer tilbagelevering</a>

        <a class="dash-btn" href="/damage-matrix">Skadesmatrix</a>

        <a class="dash-btn" href="/deliveries">Udleveringsliste</a>

        <a class="dash-btn" href="/kpi/rented">KPI Dashboard</a>

        <!-- KNAP TIL ALARMER  -->
        <a class="dash-btn" href="/alarms">Alarmer</a>

    </div>
</div>

</body>
</html>
