<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Biler til udlevering</title>
  <link rel="stylesheet" th:href="@{/tables.css}">
</head>

<body>

<h1>Biler klar til udlevering</h1>

<table>
  <thead>
  <tr>
    <th>Car ID</th>
    <th>Stelnummer</th>
    <th>Kunde</th>
    <th>Startdato</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="row : ${deliveries}">
    <td th:text="${row.car_id}"></td>
    <td th:text="${row.steelNumber}"></td>
    <td th:text="${row.customerName}"></td>
    <td th:text="${row.start_date}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>
