<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lagerstatus</title>
  <link rel="stylesheet" th:href="@{/lagerStatus.css}">
</head>

<body>

<h2>Lagerstatus</h2>

<table border="1">
  <tr>
    <th>Car ID</th>
    <th>Steel number</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Status</th>
  </tr>

  <tr th:each="car : ${cars}">
    <td th:text="${car.car_id}"></td>
    <td th:text="${car.steelNumber}"></td>
    <td th:text="${car.brand}"></td>
    <td th:text="${car.model}"></td>
    <td th:text="${car.status}"></td>
  </tr>
</table>

</body>
</html>
