<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bil System</title>
    <link rel="stylesheet" th:href="@{/app.css}">
</head>
<body>

<header class="topbar">
    <div class="brand">Bilprojekt – Admin</div>
    <nav class="nav">
        <a href="/cars">Biler</a>
        <a href="/rentals/create">Opret leje</a>
        <a href="/returns/create">Returnér bil</a>
    </nav>
</header>

<main class="container">

    <div th:fragment="content">

    </div>
</main>

</body>
</html>

